*{
	margin: 0;
	padding: 0;
	font-family: Papyrus;
	color: white;
}
body{
	background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6)),url(background.jpg);
	background-position: center;
	background-size: cover;
	overflow-x: hidden;
	position: relative;
	display: block;
	visibility: visible;
	height: 100vh
}

.header{
	display: inline-flex;
	color: white;
	padding: 50px;
	padding-left: 100px;
}
.header h1{
	display: inline-flex;
	font-size: 50px;
	padding-top: 20px;
	padding-left: 20px
}

.header img{
	display: inline-flex;
	height:120px;
}

.challenges{
	display: block;
	padding-top: 50px;
	padding-left: 50px;	
}

.task{
	display: inline-flex;
	padding: 4px;
}

.taskButton{
	background-color: transparent;
	border-color: transparent;
}
.taskButton img{
	width: 200px;
}
.taskButton label center{
	color: white;
	padding-top: 10px;
	font-size: 30px;
	
}
.boxForAnim{
	display: block;
	padding: 16px;
}
.boxForAnim:hover{
	border: yellow dotted 4px;
	padding: 12px;
}


